<div class="body">
<div class="back">
  <div class="pc">
    <div class="path clearfix">
      <a href="/home"><%= image_tag "2018pjlogo.png", class:"high_pjlogo" %></a>
      <div class="menu">
        <a href="/home/news"><%= image_tag "2018moji_news.png" %></a><h1>|</h1>
        <a href="/home/event"><%= image_tag "2018moji_event.png" %></a><h1>|</h1>
        <a href="/home/activity"><%= image_tag "2018moji_activity.png" %></a><h1>|</h1>
        <a href="/contacts/new"><%= image_tag "2018moji_contact.png" %></a><h1>|</h1>
        <a href="/gallery"><%= image_tag "2018moji_gallery.png" %></a>
      </div>
    </div>

    <%= image_tag "2018festival_top2.png", class:'festivaltop_img' %>

    <div class="festivalevent_img">
      <%= image_tag "2018festival_event.png" %>
    </div>


    <div class="festivalevent">
      <div class="festivalabout">
        <%= image_tag "2018festival_about.png", class:'fes_head' %>
        <div class="festivaltextbox">
          <p id="pp">プロンティアットVRは、今年のクローバー祭で子供から大人まで楽しめるVRゲームの体験会を実施します！<br>
          今年は3つのゲームを用意しています！<br>
          体験していただいた方にはお菓子をプレゼントします！<br>
          ぜひお越しください！</p>
          <p>今年の体験会は小学生以上が対象となっております。<br>
          ご了承ください。</p><br>
          <div class="left">
            <h2>同志社クローバー祭(終了)</h2>
            <h3>受付時間</h3>
            <p>11/3(土)　12:30~18:00<br>
            11/4(日)　&nbsp&nbsp9:00~16:00</p>
            <h3>アクセス</h3>
            <p>同志社大学京田辺キャンパス　ローム記念館GF<br>
            〒610-0394<br>
            京都府京田辺市多々羅都谷1-3<br>
            JR学研都市線「同志社前駅」徒歩10分<br>
            近鉄京都線「興戸駅」徒歩15分</p>
          </div>
          <div class="right clearfix">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.3402076976627!2d135.76959630921039!3d34.80209249943749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600117a2075d93e3%3A0x234aa33e1dba9b20!2z5ZCM5b-X56S-5aSn5a2mIOODreODvOODoOiomOW_temkqA!5e0!3m2!1sja!2sjp!4v1540448061412" width="500" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div><br>
          <div class="left">
            <h2>同志社EVE</h2>
            <h3>受付時間</h3>
            <p>11/26(月)　11:00~20:00<br>
            11/27(火)　11:00~20:00<br>
            11/28(水)　11:00~16:00</p>
            <h3>アクセス</h3>
            <p>同志社大学今出川キャンパス　良心館RY205<br>
            〒602-0893<br>
            京都府京都市上京区今出川烏丸東入<br>
            地下鉄烏丸線「今出川」徒歩1分<br>
            京阪電車「出町柳」徒歩15分</p>
          </div>
          <div class="right clea">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1633.5289149026296!2d135.75974915002664!3d35.03028314880547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001087246b5c25f%3A0xab1fdf6d6d08cdeb!2z5ZCM5b-X56S-5aSn5a2mIOiJr-W_g-mkqA!5e0!3m2!1sja!2sjp!4v1540644975147" width="500" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="festivalgame">
        <%= image_tag "2018festival_game.png", class:'fes_head' %>
        <div class="festivaltextbox">
          <div class="left"><!-- magic combat -->
            <h3>Magic Combat　(マジックコンバット)</h3>
            <p>体験時間：5分</p>
            <p>対象：中学生以上</p>
            <p>2人で魔法使いになって、魔法を撃ち合い、戦う対戦型VRゲームです。<br>
            杖を振り魔法を出すシンプルな操作性で、相手を倒した回数で戦います。<br>
            ファンタジーな世界観と圧倒的なグラフィックスで、本物の魔法使いになったように感じることができます。</p>
          </div>
          <div class="right clearfix">
            <%= image_tag "2018festival_mc1.png", class:'fes_img' %>
          </div><br>
          <div class="left"><!-- co2バスター -->
            <a href="/hackathon_a"><%= image_tag "2018festival_co2.png", class:'fes_img' %></a>
          </div>
          <div class="right clearfix">
            <a href="/hackathon_a"><h3>CO2 BUSTER!　(CO2バスター！)</h3></a>
            <p>体験時間：4分</p>
            <p>対象：小学生以上</p>
            <p>「CO2 BUSTER！」このゲームはCO2を模したキャラをビームで撃つシューティングゲームです。<br>
            ステージは、今発展して便利になってる反面で、その発展が環境汚染にも繋がってるという意味を込めオフィス街になっています。<br>
            狭い空間で空中に浮かぶCO2を狙い続けるというのは上を向き続けて首が疲れてしまうので、首を上げる角度を抑えるために長方形で奥行きのあるステージにしたのが工夫したところです。<br>
            沢山のCO2を倒して街を綺麗にしていきましょう！</p>
          </div><br>
          <div class="left"><!-- make a clean world -->
            <a href="/hackathon_b"><h3>Make A Clean World<br>(メイクアクリーンワールド)</h3></a>
            <p>体験時間：4分</p>
            <p>対象：小学生以上</p>
            <p>このゲーム「Make A Clean World 」は地球温暖化による海面上昇によって沈没した都市が舞台です。<br>
            このゲームではその名の通り流れてくるゴミを狙撃することによってゴミを撲滅して海をきれいにするシューティングゲームです。<br>
            ゲームを始めたあなたは潜水艦に乗りその進む道は潜水艦に委ねられています。<br>
            滅んだ都市を探検しながらごみのないきれいな海にしましょう。</p>
          </div>
          <div class="right clearfix">
            <a href="/hackathon_b"><%= image_tag "2018festival_macw.png", class:'fes_img' %></a>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  　　　　　　　　　　　　　　　MOBILE版
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="mobile">
    <div class="path clearfix">
      <a href="/home"><%= image_tag "2018pjlogo.png", class:"high_pjlogo" %></a><br>
      <a href="/home/news"><%= image_tag "news.png" %></a>
      <a href="/home/event"><%= image_tag "event.png" %></a>
      <a href="/home/activity"><%= image_tag "activity.png" %></a>
      <a href="/contacts/new"><%= image_tag "contact.png" %></a>
    </div>

    <%= image_tag "2018festival_top2.png", class:"festivaltop_img" %>

    <div class="festivalevent_img">
      <div class="festivalevent_img2">
        <%= image_tag "2018festival_event.png" %>
      </div>
    </div>

    <div class="festival_content">
      <div class="fes_head1">
        <%= image_tag "2018festival_about.png" %>
      </div>
      <div class="festivalabout">
        <p>プロンティアットVRは、今年のクローバー祭で子供から大人まで楽しめるVRゲームの体験会を実施します！<br>
        今年は3つのゲームを用意しています！<br>
        体験していただいた方にはお菓子をプレゼントします！<br>
        ぜひお越しください！</p>
        <p>今年の体験会は小学生以上が対象となっております。<br>
        ご了承ください。</p>

        <h2>同志社クローバー祭<br>(終了)</h2>
        <h3>受付時間</h3>
        <p>11/3(土)　12:30~18:00<br>
        11/4(日)　&nbsp&nbsp9:00~16:00</p>
        <h3>アクセス</h3>
        <p>同志社大学京田辺キャンパス<br>
        ローム記念館GF<br>
        〒610-0394<br>
        京都府京田辺市多々羅都谷1-3<br>
        JR学研都市線「同志社前駅」徒歩10分<br>
        近鉄京都線「興戸駅」徒歩15分</p>
        <a href="https://goo.gl/maps/PE5JdiMBe6A2" class="link" target="_blank">Googleマップで開く</a>

        <h2>同志社EVE</h2>
        <h3>受付時間</h3>
        <p>11/26(月)　11:00~20:00<br>
        11/27(火)　11:00~20:00<br>
        11/28(水)　11:00~16:00</p>
        <h3>アクセス</h3>
        <p>同志社大学今出川キャンパス　良心館RY205<br>
        〒602-0893<br>
        京都府京都市上京区今出川烏丸東入<br>
        地下鉄烏丸線「今出川」徒歩1分<br>
        京阪電車「出町柳」徒歩15分</p>
        <a href="https://goo.gl/maps/UczNH7sxwN62" class="link" target="_blank">Googleマップで開く</a>
      </div>

      <div class="fes_head2">
        <%= image_tag "2018festival_game.png" %>
      </div>
      <div class="festivalgame">
        <h3>Magic Combat<br>(マジックコンバット)</h3>
        <p>体験時間：5分</p>
        <p>対象：中学生以上</p>
        <p>2人で魔法使いになって、魔法を撃ち合い、戦う対戦型VRゲームです。<br>
        杖を振り魔法を出すシンプルな操作性で、相手を倒した回数で戦います。<br>
        ファンタジーな世界観と圧倒的なグラフィックスで、本物の魔法使いになったように感じることができます。</p>
        <%= image_tag "2018festival_mc1.png", class:'fes_img' %><br>

        <h3>CO2 BUSTER!<br>(CO2バスター！)</h3>
        <p>体験時間：4分</p>
        <p>対象：小学生以上</p>
        <p>「CO2 BUSTER！」このゲームはCO2を模したキャラをビームで撃つシューティングゲームです。<br>
        ステージは、今発展して便利になってる反面で、その発展が環境汚染にも繋がってるという意味を込めオフィス街になっています。<br>
        狭い空間で空中に浮かぶCO2を狙い続けるというのは上を向き続けて首が疲れてしまうので、首を上げる角度を抑えるために長方形で奥行きのあるステージにしたのが工夫したところです。<br>
        沢山のCO2を倒して街を綺麗にしていきましょう！</p>
        <a href="/hackathon_a" class="link">CO2 BUSTER!のリンク先へ<br><%= image_tag "2018festival_co2.png", class:'fes_img' %></a><br>

        <h3>Make A Clean World<br>(メイクアクリーンワールド)</h3>
        <p>体験時間：4分</p>
        <p>対象：小学生以上</p>
        <p>このゲーム「Make A Clean World 」は地球温暖化による海面上昇によって沈没した都市が舞台です。<br>
        このゲームではその名の通り流れてくるゴミを狙撃することによってゴミを撲滅して海をきれいにするシューティングゲームです。<br>
        ゲームを始めたあなたは潜水艦に乗りその進む道は潜水艦に委ねられています。<br>
        滅んだ都市を探検しながらごみのないきれいな海にしましょう。</p>
        <a href="hackathon_b" class="link">Make A Clean Worldリンク先へ<br><%= image_tag "2018festival_macw.png", class:'fes_img' %></a>
      </div>
    </div>
  </div>

  <div class="black">
    <footer>
      <div class="clearfix">
        <div class="low_pjlogo">
          <a href="/home">
            <%= image_tag '2018pjlogo.png' %>
          </a>
        </div>
        <div class="copyright">
          <p>Copyright © プロンティアットVR<br>All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</div>
</div>