<div class="body">
<% provide(:title, "活動概要") %>
<div class="pc">
  <div class="path clearfix">
    <a href="/home"><%= image_tag "2018pjlogo.png", class:"high_pjlogo" %></a>
    <div class="menu">
      <a href="/home/news"><%= image_tag "2018moji_news.png" %></a><h1>|</h1>
      <a href="/home/event"><%= image_tag "2018moji_event.png" %></a><h1>|</h1>
      <a href="/home/activity"><%= image_tag "2018moji_activity.png" %></a><h1>|</h1>
      <a href="/contacts/new"><%= image_tag "2018moji_contact.png" %></a><h1>|</h1>
      <a href="/gallery"><%= image_tag "2018moji_gallery.png" %></a>
    </div>
  </div>

  <div id="activity_area" class="clearfix">
    <h1>活動概要</h1>

    <div class="hide1000">
      <p>「開発」ではVRゲーム分野を開拓できる、所謂お手本となれるようなVRゲームの開発を行いプロジェクト内でのVR技術向上を目指しています。</p>
      <p>プロンティアットVRはマルチVRゲームを発展させるべく、「マルチVRゲームの開発」・「体験会への出展」・「情報発信」の3つを軸とした活動をしている団体です。</p><br>
    </div>


    <div id="activity_text">
      <div class="hidemax">
        <p>「開発」ではVRゲーム分野を開拓できる、所謂お手本となれるようなVRゲームの開発を行いプロジェクト内でのVR技術向上を目指しています。</p>
        <p>プロンティアットVRはマルチVRゲームを発展させるべく、「マルチVRゲームの開発」・「体験会への出展」・「情報発信」の3つを軸とした活動をしている団体です。</p><br>
      </div>
      <h2>マルチVRゲームの開発</h2>
      <p>マルチVRゲームとは、複数人でプレイ可能なVRゲームです。私たちはマルチVRゲームの体験者を増やすために、多くの人に興味を持ってもらえるような高品質なマルチVRゲームを開発します。<br></p>
      <%= image_tag "2018activity1.png", class:"hide800" %>
      <h2>体験会や展示会への出展・開催</h2>
      <p>開発したゲームを展示会などに出展すると同時に，より多くの人にマルチVRゲームを体験してもらうために体験会を開催します。そこで得たフィードバックをもとに改良し、洗練されたゲームを開発します。<br></p>
      <%= image_tag "2018activity2.png", class:"hide800" %>
      <h2>情報発信</h2>
      <p>体験会や開発しているゲームについての詳細を当サイトで発信する他に、おすすめのマルチVRゲームを紹介するサイト「おすまる」を公開することで、様々なマルチVRゲームの情報を発信します。<br></p>
      <%= image_tag "2018activity3.png", class:"hide800" %>
    </div>
    <%= image_tag "2018activity.png", id:"activity_img"%>
  </div>

</div>

<div class="mobile">
  <div class="path clearfix">
    <a href="/home"><%= image_tag "2018pjlogo.png", class:"high_pjlogo" %></a><br>
    <a href="/home/news"><%= image_tag "news.png" %></a>
    <a href="/home/event"><%= image_tag "event.png" %></a>
    <a href="/home/activity"><%= image_tag "activity.png" %></a>
    <a href="/contacts/new"><%= image_tag "contact.png" %></a>
  </div>
  <div class="mobile_activity">
    <h1>活動概要</h1>
    <p>「開発」ではVRゲーム分野を開拓できる、所謂お手本となれるようなVRゲームの開発を行いプロジェクト内でのVR技術向上を目指しています。<br><br>
    プロンティアットVRはマルチVRゲームを発展させるべく、「マルチVRゲームの開発」・「体験会への出展」・「情報発信」の3つを軸とした活動をしている団体です。</p><br>
    <h2>マルチVRゲームの開発</h2>
    <p>マルチVRゲームとは、複数人でプレイ可能なVRゲームです。私たちはマルチVRゲームの体験者を増やすために、多くの人に興味を持ってもらえるような高品質なマルチVRゲームを開発します。</p>
    <%= image_tag "2018activity1.png"%>
    <h2>体験会や展示会への<br>出展・開催</h2>
    <p>開発したゲームを展示会などに出展すると同時に，より多くの人にマルチVRゲームを体験してもらうために体験会を開催します。そこで得たフィードバックをもとに改良し、洗練されたゲームを開発します。</p>
    <%= image_tag "2018activity2.png"%>
    <h2>情報発信</h2>
    <p>体験会や開発しているゲームについての詳細を当サイトで発信する他に、おすすめのマルチVRゲームを紹介するサイト「おすまる」を公開することで、様々なマルチVRゲームの情報を発信します。</p>
    <%= image_tag "2018activity3.png"%>
  </div>
</div>

<footer>
  <div class="clearfix">
    <a href="/home">
      <%= image_tag '2018pjlogo.png' %>
    </a>
    <p>Copyright © プロンティアットVR <br>All Rights Reserved.</p>
  </div>
</footer>
</div>