<% if event.errors.any? %>
<ul>
    <% event.errors.full_messages.each do |err| %>
        <li><%= err %></li>
    <% end %>
</ul>
<% end %>

<%= form_for event do |form| %>
<table>
    <tr><th>イベント名</th>
        <td><%= form.text_field :event_name %></td></tr>
    <tr><th>イベントの開催日</th>
        <td><%= form.text_field :event_date %></td></tr>
    <tr><th>リンク先のURL（絶対パス）</th>
        <td><%= form.text_field :jump_to %></td></tr>
    <tr><th></th>
        <td><%= form.submit "送信" %></td></tr>
</table>
<% end %>
