<div class="body">
<div class="pc">
  <!-- メニューバー -->
  <div class="path clearfix">
    <a href="/home"><%= image_tag "2018pjlogo.png", class:"high_pjlogo" %></a>
    <div class="menu">
      <a href="/home/news"><%= image_tag "2018moji_news.png" %></a><h1>|</h1>
      <a href="/home/event"><%= image_tag "2018moji_event.png" %></a><h1>|</h1>
      <a href="/home/activity"><%= image_tag "2018moji_activity.png" %></a><h1>|</h1>
      <a href="/contacts/new"><%= image_tag "2018moji_contact.png" %></a><h1>|</h1>
      <a href="/gallery"><%= image_tag "2018moji_gallery.png" %></a>
      <!-- ギャラリーの文字ができたらgallery,home,contacts,cloverのリンク変えること -->
    </div>
  </div>

  <!-- GALLERY -->
  <div class="gallery">
    <div class="gallery_header">
      <hr class="dotted">
      <%= image_tag "2018gallery.png" %>
      <p class="black_letter">プロンティアットVRのこれまで活動してきた成果物や歴代ポスターをまとめてみました！</p>
      <hr class="dotted">
    </div>

    <!-- 歴代ポスター -->
    <div class="poster">
      <h1 class="black_letter">歴代ポスター</h1>
      <div class="poster_img">
        <h3>プロジェクトポスター</h3>
        <%= image_tag "2018poster1.png" %>
      </div>
      <div class="poster_img">
        <h3>プロジェクトポスター　ボツ案</h3>
        <%= image_tag "2018poster2.png" %>
      </div>
    <div class="clearfix"></div>
      <div class="poster_img">
        <h3>メンバー募集</h3>
        <%= image_tag "2018poster3.png" %>
      </div>
      <div class="poster_img">
        <h3>7月VRゲーム体験会</h3>
        <%= image_tag "2018poster4.png" %>
      </div>
    <div class="clearfix"></div>
      <div class="poster_img">
        <h3>SEIKAサブカルフェスタ2018</h3>
        <%= image_tag "2018poster5.png" %>
      </div>
      <div class="poster_img">
        <h3>1月VRゲーム体験会</h3>
        <%= image_tag "2018poster6.png" %>
      </div>
    <div class="clearfix"></div>
      <div class="poster_img">
        <h3>MAGIC COMBAT VR</h3>
        <%= image_tag "2018poster_mc1.png" %>
      </div>
      <div class="poster_img">
        <h3>MAGIC COMBAT VR</h3>
        <%= image_tag "2018poster_mc2.png" %>
      </div>
    <div class="clearfix"></div>
    </div>

    <!-- 制作物 -->
    <div class="creats">
      <h1 class="black_letter">制作物</h1>
      <div class="creats_item">
        <a href="/yozawiza" target="_blank">
          <h2>夜桜ウィザード</h2>
          <%= image_tag "2018gallery_yozawiza.png" %>
        </a>
      </div>
      <div class="creats_item">
        <a href="/games" target="_blank">
          <h2>Magic Combat VR</h2>
          <%= image_tag "2018gallery_magicCombat.png" %>
        </a>
      </div>
      <div class="clearfix"></div>
      <div class="creats_item">
        <a href="/hackathon_b" target="_blank">
          <h2>Make A Clean World</h2>
          <%= image_tag "2018festival_macw.png" %>
        </a>
      </div>
      <div class="creats_item">
        <a href="/hackathon_a" target="_blank">
          <h2>CO2 BUSTER!</h2>
          <%= image_tag "2018festival_co2.png" %>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- キャラクター -->
    <div class="charactor">
      <h1 class="black_letter">マスコットキャラクター</h1>
      <div class="gallery_chara">
        <%= image_tag "2018pronti-kun1.png" %>
        <h3>プロンティくん</h3>
        <p>趣味はお茶<br>
          茶道部所属<br>
          たまにロングTシャツを着るらしい<br>
          VRゲームのベテラン<br>
          数々のゲームで名を轟かせているらしい</p>
      </div>
      <div class="gallery_chara">
        <%= image_tag "2018okoji-kun1.png" %>
          <h3>おこじくん</h3>
          <p>VRゲームが大好きなオコジョの男の子<br>
            プロンティ君と一緒にマルチVRゲームをプレイしている<br>
            赤のスカーフはプロンティくんが一緒のチームで優勝した時に郵送で送られてきたものでとても気に入っているらしい</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div><!-- .gallery -->
</div> <!--.pc -->
</div>
