<div class="body">
<% provide(:title, "VR妖怪祭り") %>

<header>
  <div id="wrapper_menu_icon">
    <a href="/home/news" class="menu_icon"><%= image_tag 'news.png', id: 'news' %></a>
    <a href="/home/activity" class="menu_icon"><%= image_tag 'activity.png', id: 'activity' %></a>
    <a href="/yozawiza" class="menu_icon" target="_blank"><%= image_tag 'product.png', id: 'product' %></a>
    <a href="http://www.prontiatvr.com/learning/devblog" class="menu_icon"><%= image_tag 'learning.png', id: 'learning' %></a>
    <a href="/home/event" class="menu_icon"><%= image_tag 'event_red.png', id: 'event' %></a>
    <a href="/contacts/new" class="menu_icon"><%= image_tag 'contact.png', id: 'contact' %></a>
  </div>
</header>

<div id="hackathon_area">

  <h1>VR妖怪祭り</h1>
  <h4>ー プロンティアットVRが開発中の
「怨挟師」で妖怪を退治しよう！！ー</h4>

  <h2>イベント概要</h2>
  <p>VRの世界に飛び込んで、金魚すくいや屋台巡りをしよう！<br>
同志社クローバー祭と同志社EVEに私たちプロンティアットVRが『VR妖怪祭り』と題し、VRゲーム体験会を実施します！ <br>
日本ゲーム大賞アマチュア部門最終審査にノミネートされたVRゲーム「怨挟師」の学祭特別版がプレイできます。 また、今回このイベントのために製作したVRゲーム「すくってぽいぽいVR」「ねこまつり」も楽しんでいただけます。 スタッフがつきますのでVR初心者の方でも安心してプレイできます。

  </p>

  <h2>詳細</h2>

  <div class="event_detail">
    <h3>怨挟師</h3>
    <div class="event_detail_text">
    <p>日本ゲーム大賞アマチュア部門唯一のVRゲームで、最終審査にノミネートされました、
    陰陽師をテーマにしたVRアクションゲームです。平安時代を舞台により多くの妖怪を退治して太平の世を取り戻しましょう！</p>
    </div>
    <div id="onkyo">
      <%= image_tag 'onkyoji1.png',id:'onkyo' %>
      <%= image_tag 'onkyoji3.png',id:'onkyo' %>
      <br><br>
    </div>
  </div>
  <div class="clear"></div>
  <div class="event_detail">
    <h3>すくってぽいぽいVR</h3>
    <div class="event_detail_text">
    <p>すくってぽいぽいVRは、夏祭りの代名詞とも言える金魚すくいを、VRにして再現したVR金魚すくいゲームです。
VRならではの操作方法と、リアルさを追求した金魚、白熱のバトルなど、要素は盛りだくさん！
あなたは伝説の金の金魚をすくい上げることができるのか？
</p>
  </div>
  <%= image_tag 'poipoi1.png' %>
  <%= image_tag 'poipoi3.jpg',id:'onkyo' %>
  <br><br>
  </div>
  <div class="clear"></div>
  <div class="event_detail">
    <h3>ねこまつり</h3>
    <div class="event_detail_text">
    <p>ねこまつりはVRで自らが猫になって、夏祭りに行き屋台をより素早く駆け抜け、より多くのお土産を取り高得点を目指そうというゲームです。
シンプルな操作性で、屋台を駆け抜けると花火を楽しめる！
ハイスコア目指して花火を沢山見よう！</p>
  </div>
  <%= image_tag 'neko1.png' %>
  <br>
  </div>
  <div class="clear"></div>

  <div class="clear"></div>

  <h2>体験</h2>
  <p><b>受付時間（予約不要）</b>
    <br>
    <br>　クローバー祭（イベントは終了しました）<br>
    11/04（土）　12:30-18:00<br>
    11/05（日）　9:00-16:00<br>

    <br>　同志社EVE<br>
    11/26（日）　10:30-19:00<br>
    11/27（月）　10:30-19:00<br>
    11/28（火）　10:30-16:00</p>
  <p><b>体験時間</b><br>　１種類1回　10分程度</p>

  <h2>場所</h2>

  <p><b>クローバー祭（イベントは終了しました）</b></p>
  <p>同志社大学京田辺キャンパス　ローム記念館GF</p>
  <p>【アクセス】<br>　
    同志社大学 京田辺キャンパス
    〒610-0394 京都府京田辺市多々羅都谷１−３<br>
<br>
JR学研都市線「同志社前駅」徒歩10分<br>
　近鉄京都線「興戸駅」徒歩15分</p>
  <p></p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3276.132070864073!2d135.77201!3d34.802619!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x231f98b96821c460!2z5ZCM5b-X56S-5aSn5a2mIOS6rOeUsOi-uuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1510308285898" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<br>
<br><br>
  <p><b>同志社EVE</b></p>
  <p>同志社大学今出川キャンパス　（ローム記念館GF）</p>
  <p>【アクセス】<br>　
〒602ｰ8580　京都市上京区今出川通り烏丸東入<br>
<br>
地下鉄烏丸線　「今出川」駅から徒歩1分<br>
京阪電車　「出町柳」駅から徒歩15分<br>
バス停　「烏丸今出川」から徒歩1分</p>
  <p></p>
  <!--Googleマップ-->
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4720.048697578029!2d135.76012002330413!3d35.03163261593688!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd58996a9ee7ea648!2z5ZCM5b-X56S-5aSn5a2m!5e0!3m2!1sja!2sjp!4v1510022799517" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<br><br>

<!--申し込み-->
  <!--<a href="https://docs.google.com/forms/d/e/1FAIpQLSdruOSbuv1u55oxBkziGuqjQs3xXDPeUaH3bu4nY_S-lg-w3g/viewform" id="apply" target="_blank">参加を申し込む</a>
-->

  <a href="/home/event" id="for_events">イベント一覧に戻る</a>

</div>

<footer>
  <div id="gray">
    <p><br>同志社ローム記念館プロジェクト<br>
      <a href="/home"><%= image_tag 'pjlogo.png' %></a>
    </p>
  </div>
  <div id="sns">
    <div id="twitter">
      <a href="https://twitter.com/prontiatvr" target="_blank"><%= image_tag 'twitter.png', class:'sns_icon' %><p>@prontiatvr</p></a>
      <div class="clear"></div>
    </div>
    <div id ="facebook">
      <a href="https://www.facebook.com/prontiat/" target="_blank"><%= image_tag 'facebook.png', class:'sns_icon' %><p>https://www.facebook.com/prontia</p></a>
      <div class="clear"></div>
    </div>
  </div>
  <div id="f_right">
    <div id="f_menu">
      <h4>
        <%= link_to '｜ニュース', '/home/news' %>
        <%= link_to '｜活動概要', '/home/activity' %>
        <%= link_to '｜プロダクト', '/yozawiza', :target=>["_blank"] %>
        <%= link_to '｜ラーニング', 'http://www.prontiatvr.com/learning/devblog' %>
        <%= link_to '｜イベント', '/home/event' %>
        <%= link_to '｜コンタクト｜', '/contacts/new' %>
      </h4>
    </div>
    <div id="copyright">
      <p>Copyright © プロンティアットVR　All Rights Reserved.</p>
    </div>
  </div>
  <div class="clear"></div>
</footer>

<script>
 //マウスオーバーでアイコン変わる
 $(document).ready(function(){
  $("img#news").mouseover(function(){
    $(this).attr("src","<%= asset_path 'news_red.png' %>").attr("alt","News_on")
  }).mouseout(function(){
    $(this).attr("src","<%= asset_path 'news.png' %>").attr("alt","News")
  });
  $("img#activity").mouseover(function(){
    $(this).attr("src","<%= asset_path 'activity_red.png' %>").attr("alt","Activity_on")
  }).mouseout(function(){
    $(this).attr("src","<%= asset_path 'activity.png' %>").attr("alt","Activity")
  });
  $("img#product").mouseover(function(){
    $(this).attr("src","<%= asset_path 'product_red.png' %>").attr("alt","Product_on")
  }).mouseout(function(){
    $(this).attr("src","<%= asset_path 'product.png' %>").attr("alt","Product")
  });
  $("img#learning").mouseover(function(){
    $(this).attr("src","<%= asset_path 'learning_red.png' %>").attr("alt","Learning_on")
  }).mouseout(function(){
    $(this).attr("src","<%= asset_path 'learning.png' %>").attr("alt","Learning")
  });
  $("img#contact").mouseover(function(){
    $(this).attr("src","<%= asset_path 'contact_red.png' %>").attr("alt","Contact_on")
  }).mouseout(function(){
    $(this).attr("src","<%= asset_path 'contact.png' %>").attr("alt","Contact")
  });
});
</script>

</div>